*.pbi
*.cout
*.dep
#*.wsdt
#*.xcl
*.bat
*.browse
*.pbd
#*.crun
#*.dbgdt
*.cspy
#*.dni
#*.wspos
#*.jlink
*.o
*.map
*.out
**/Debug
**/settings
*.txt

**/m2tk_u8g/*
!**/m2tk_u8g/src
**/u8glib/*
!**/u8glib/csrc
!**/u8glib/sfntsrc




